{% set mediawiki = salt['grains.filter_by']({
    'Debian': {
        'dbserver': 'localhost',
        'dbtype': 'mysql',
        'lang': 'fr',
        'confpath': '/var/www/wiki',
        'dbname': 'mediawiki',
        'dbuser': 'mediawiki',
        'scriptpath': '/wiki',
        'adminpass': '',
        'adminuser': 'admin',
        'wikiname': 'Wiki sans nom',
        'wwwdir': '/var/www',
    },
}, merge=salt['pillar.get']('mediawiki')) %}
